releases/
obj/
bin/
widescreenfix/Debug/
*.suo
*.user
*.vspx
*.psess
*.rar
widescreenfix/Debug/Main.obj
widescreenfix/Debug/Main.obj
widescreenfix/Debug/vc140.pdb
widescreenfix/Debug/widescreenfix.tlog/CL.write.1.tlog